doctype html

.col-md-12
  h3 Create Session
.col-md-6
  form("[formGroup]"="newSessionForm" "(ngSubmit)"="saveSession(newSessionForm.value)" autocomplete='off')
    .form-group("[class.error]"="name.invalid && name.dirty")
      label(for='sessionName') Session Name:
      em("[hidden]"="name.valid || name.pristine") Required
      input#sessionName.form-control(formControlName="name" type='text', placeholder='session name...')
    .form-group("[class.error]"="presenter.invalid && presenter.dirty")
      label(for='presenter') Presenter:
      em("[hidden]"="presenter.valid || presenter.pristine") Required
      input#presenter.form-control(formControlName="presenter" type='text', placeholder='presenter...')
    .form-group("[class.error]"="duration.invalid && duration.dirty")
      label(for='duration') Duration:
      em("[hidden]"="duration.valid || duration.pristine") Required
      select.form-control(formControlName="duration")
        option(value='') select duration...
        option(value='1') Half Hour
        option(value='2') 1 Hour
        option(value='3') Half Day
        option(value='4') Full Day
    .form-group("[class.error]"="level.invalid && level.dirty")
      label(for='level') Level:
      em("[hidden]"="level.valid || level.pristine") Required
      select.form-control(formControlName="level")
        option(value='') select level...
        option(value='Beginner') Beginner
        option(value='Intermediate') Intermediate
        option(value='Advanced') Advanced
    .form-group("[class.error]"="abstract.invalid && abstract.dirty")
      label(for='abstract') Abstract:
      em("[hidden]"="abstract.valid || abstract.pristine || !abstract.errors?.required") Required
      em("[hidden]"="abstract.valid || abstract.pristine || !abstract.errors?.maxlength") Cannot exceed 400 characters
      em("[hidden]"="abstract.valid || abstract.pristine || !abstract.errors?.restrictedWords")
        | Found restricted words: {{abstract.errors?.restrictedWords}}
      textarea#abstract.form-control(formControlName="abstract" rows='3', placeholder='abstract...')
      pre.
        Valid: {{abstract.valid}}
        Pristine: {{abstract.pristine}}
        Required error: {{abstract.errors?.required || false}}
        Max Length error: {{abstract.errors?.maxlength || false}}
    button.btn.btn-primary(type='submit' "[disabled]"="newSessionForm.invalid") Save
    button.btn.btn-default(type='button' "(click)"="cancel()") Cancel
