.container {
  padding-left: 20px;
  padding-right: 20px;
}

.event-image {
  height: 100px;
}

a {
  cursor: pointer;
}

.tab-group {
  margin-bottom: 10px;
  > .btn-group:first-child {
    margin-left: 20px;
    margin-right: 20px;
  }
}
