.row("*ngFor"="let session of visibleSessions")
  .col-md-1
    upvote("*ngIf"="authService.isAuthenticated()" "(vote)"="toggleVote(session)" "[count]"="session.voters.length" "[voted]"="userHasVoted(session)")
  .col-md-10
    collapsible-well
      div(well-title)
        | {{session.name}}
        i.glyphicon.glyphicon-fire("*ngIf"="session.voters.length > 3")
      div(well-body)
        h6 {{session.presenter}}
        span Duration: {{session.duration | duration}}
        br
        span Level: {{session.level}}
        p {{session.abstract}}
