.voting-widget-container.pointable("(click)"="onClick()")
  .well.voting-widget
    .voting-button
      i.glyphicon.glyphicon-heart("[style.color]"="iconColor")
    .badge.badge-inverse.voting-count
      div {{count}}
