doctype html

#site
  jp-notify
  jp-nav(:title='title')

  h1 Welcome!
  p This is my personal website. I'm working on a few things right now:
  ul
    li Modals
    li Register/Login using those modals.
    li Getting my resume viewable here
    li Eventually making a character creator for Exalted.

  p
    | For now, just watch the site change regularly as I hopefully stick with this thing or go look at the 
    a(href="https://github.com/Riobe/creation") source code
    | .
