.modal.fade(id="{{elementId}}" tabindex="-1" "#modalContainer")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span &times;
        h4.modal-title {{title}}
      .modal-body("(click)"="closeModal()")
        ng-content
