$primary-color: hsl(210, 96%, 89%);

$color-bg-primary: rgb(228, 223, 221);
$color-bg-secondary: rgb(228, 223, 221);
$color-font: rgb(228, 223, 221);
$color-header-primary: rgb(228, 223, 221);
$color-header-secondary: rgb(228, 223, 221);
$color-inset-primary: rgb(228, 223, 221);
$color-inset-secondary: rgb(228, 223, 221);

@mixin placeholder-text-color($color) {
  ::-webkit-input-placeholder { color: $color; }
  ::-moz-placeholder { color: $color; }
  :-moz-placeholder { color: $color; }
  :ms-input-placeholder { color: $color; }
}
