doctype html

head
  title Creation

  link(rel='stylesheet', href='css/site.css')

  if (ENV === 'development')
    script(src='vendor/vue.js')
  else
    script(src='vendor/vue.min.js')

  //- The app bundle is added by webpack.
body
  #body
    h1 Title: {{ title }}
