doctype html

head
  title Jeremy Pridemore - Functional Madness

  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="css/site.css")

  block stylesheets

body
  nav#navbar
    #page-title Jeremy Pridemore
    img#github-logo(src="images/GitHub-Mark-Light-32px.png")

  #body
    h1 Welcome
    h1 {{ title }}

  script(src="https://unpkg.com/vue@2.4.4/dist/vue.js")
