doctype html

head
  title Jeremy Pridemore - Functional Madness

  meta(name='viewport' content='width=device-width, initital-scale=1.0')

  link(rel='stylesheet' href='css/site.css')

  block stylesheets

body
  nav#navbar
    #page-title Jeremy Pridemore
    img#github-logo(src='images/GitHub-Mark-Light-32px.png')

  block content

  block scripts
    script(src='vendor/vue.js')
