@import "./imports/common";

body {
  width: 95vw;
  height: 90vh;

  margin: 0;
  padding: 0;

  color: $color-font;
  background-color: $color-body-background;
}

#github-logo {
  height: 32px;
  width: 32px;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline $color-font;
}

.form-group {
  display: flex;
  justify-content: center;
  text-align: left;

  label {
    width: 30%;
    margin-right: 10px;
  }

  input {
    flex: 1;
  }
}

#toast-container {
  position: fixed;
  top: 10px;
  left: calc(50% - (180px/2));
  z-index: 9000;

  min-width: 180px;
}

.toast {
  height: $height-site-navbar;
}

.toast-title {
  font-weight: bold;
  text-align: center;
}
