div
  h1 Upcoming Angular 2 Events
  //- button.btn.btn-primary("(click)"="firstThumbnail.report()") Check Console
  hr
  .row
    .col-md-5("*ngFor"="let event of events")
      event-thumbnail(
        "[event]"="event"
        "(signedUp)"="registerEvent($event)"
        "#firstThumbnail"
      )
