doctype html

.well.hoverwell.thumbnail("[hidden]"="event" "[routerLink]"="['/event', event.id]")
  //- img("[src]"="event.imageUrl")
  h2 {{event.name | uppercase}}
  div Date: {{event.date | date:'shortDate'}}

  div("[ngClass]"="earlyStartClasses()" "[ngSwitch]"="event?.time") Time: {{event.time}}
    span("*ngSwitchCase"="'8:00 am'")  (Early Start)
    span("*ngSwitchCase"="'10:00 am'")  (Late Start)
    span("*ngSwitchDefault")  (Normal Start)
  div Price: {{event.price | currency:'USD':true}}
  div("*ngIf"="event.location")
    span Location: {{event.location.address}}
    span.pad-left {{event.location.city}}, {{event.location.country}}
  div("*ngIf"="event.onlineUrl") Online URL: {{event.onlineUrl}}
  button.btn.btn-primary("(click)"="signUp()") Sign Up

