doctype html

mixin input-text(header, name)
  label.center-block(for!=name)= header
    input.form-control(id!=name, type="text", name!=name, formControlName!=name)

mixin input-dropdown(header, name)
  label.center-block(for!=name)= header
    select.form-control(id!=name, name!=name, formControlName!=name)
      block

.jumbotron
  h1 Hello character creator.
form([formGroup]="characterForm", novalidate)
  .form-group
    +input-text('Name:', 'name')
  .form-group
    +input-text('Concept:', 'concept')
  .form-group
    +input-dropdown('Caste:', 'caste')
        option(*ngFor="let caste of validCastes") {{caste}}
p Form value: {{ characterForm.value | json }}
p Form status: {{ characterForm.status | json }}
