@import '../../sass/imports/common';

#navbar {
  position: fixed;
  top: 0;
  left: 0;

  height: $height-site-navbar;
  width: 100%;

  padding: 10px;

  display: flex;
  justify-content: space-around;

  color: white;
  background-color: $color-nav-background;
}
