doctype html

.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand Creation
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="" "[routerLink]"="['/home']" routerLinkActive="active" "[routerLinkActiveOptions]"="{exact:true}") Home
      .navbar-header.navbar-right
        ul.nav.navbar-nav
          li
            a Login
